.box {
  background-color: aqua;
  color: black;
  display: inline-block;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 400px;
}

.left-sender {
  background-color: rgb(243, 100, 100);
}

.right-sender {
  background-color: aqua;
}
